---
layout: default
---

<!-- Page Header -->
{% if site.bg-masthead %}
<header class="masthead" style="background-image: url('{{ site.bg-masthead | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead" style="background: rgba(48, 105, 152, 0.88)">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">

      {{ content }}

    </div>
  </div>
</div>
